@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  transition: background-color 0.3s, color 0.3s;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: white;
}

body.light-mode {
  background: linear-gradient(60deg, #568eef 0%, #a793ce 100%);
}

body.dark-mode {
  background: radial-gradient(
    ellipse at center bottom,
    #1f2c39 0%,
    #000000 60%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.BubbleText {
  transition: 0.35s font-weight, 0.35s;
}

.BubbleText:hover {
  font-weight: 900;
  color: rgb(238, 242, 255);
}

.BubbleText:hover + .BubbleText {
  font-weight: 900;
  color: rgb(199, 210, 254);
}

.BubbleText:hover + .BubbleText + .BubbleText {
  font-weight: 300;
}

.BubbleText:has(+ .BubbleText:hover) {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.BubbleText:has(+ .BubbleText + .BubbleText:hover) {
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #414141;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 6px;
  border: 1px solid #060606;
}

::-webkit-scrollbar-thumb:hover {
  background: #485d6b;
}

.cursor-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  border: 0px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(200, 200, 180);
  transition: transform 0.1s ease-out;
  z-index: 9999;
}

@keyframes dash {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: -200;
  }
}
