@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #223344;
  --bgColor2: #090a0f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body.light-mode {
  background: linear-gradient(45deg, #11c5ef 0%, #1172ef 100%);
  color: white;
}

body.dark-mode {
  background: radial-gradient(
    ellipse at center bottom,
    #1f2c39 0%,
    #000000 60%
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.BubbleText {
  transition: 0.35s font-weight, 0.35s color;
}

.BubbleText:hover {
  font-weight: 900;
  color: rgb(238, 242, 255);
}

/* To the right */
.BubbleText:hover + .BubbleText {
  font-weight: 900;
  color: rgb(199, 210, 254);
}

.BubbleText:hover + .BubbleText + .BubbleText {
  font-weight: 300;
}

/* To the left */
.BubbleText:has(+ .BubbleText:hover) {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.BubbleText:has(+ .BubbleText + .BubbleText:hover) {
  font-weight: 300;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 10px; /* Width for vertical scrollbars */
  height: 8px;
  /* Height for horizontal scrollbars */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #414141; /* Light gray background */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #a8a8a8; /* Blue thumb */
  border-radius: 6px; /* Rounded corners */
  border: 1px solid #060606; /* Creates padding effect */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2980b9; /* Darker blue on hover */
}

/* cursor follower */
.cursor-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4); /* Semi-transparent */
  border: 0px solid rgba(255, 255, 255, 0.4); /* Optional border */
  border-radius: 50%;
  pointer-events: none; /* Ensures the circle doesn't block interactions */
  transform: translate3d(200, 100, 80);
  transition: transform 0.1s ease-out; /* Smooth movement */
  z-index: 9999; /* Keep it above all other elements */
}

